

.logo {
    font-family: "Roboto", sans-serif;
    color: #ff305b;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0 0 190px;
    z-index: 1;
}

.logo:hover {
    cursor: pointer;
}

.unordered {
    list-style: none;
    /* padding-right: 50px; */
    padding: 0 205px 0 0;
    z-index: 1;
}

.unordered li {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 300;
    padding: 10px 2px;
    transition: all 0.3s ease-in-out;
}

.active {
    color: #ff305b;
}

.unordered li:hover {
    color: #ff305b;
    cursor: pointer;
}

.unordered li::selection {
    color: white;
    background-color: #ff305b;
}

.parent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.parent {
    margin: 0 auto;
    position: relative;



}


.navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 2;
   
}

/* Background Image */
.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/slider-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2; 
}

.navbar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: -1; 
}

.navbar-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

.navbar-content h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.navbar-content h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #ff305b;
}

.navbar-content p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 0 0 10px;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}


.text {
    display: inline-block;
    border-right: 5px solid white;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
}

.alternate-text::after {
    content: "Designer";
    animation: typing 4s steps(9, end) infinite, blink 1s step-end infinite;
}




/* Typing effect */
@keyframes typing {
    0% {
        content: "D";
    }

    3% {
        content: "De";
    }

    6% {
        content: "Des";
    }

    9% {
        content: "Desi";
    }

    12% {
        content: "Desig";
    }

    15% {
        content: "Design";
    }

    18% {
        content: "Designe";
    }

    21% {
        content: "Designer ";
    }

    24% {
        content: "Designer ";
    }

    27% {
        content: "Designe";
    }

    30% {
        content: "Design";
    }

    33% {
        content: "Desig";
    }

    36% {
        content: "Desi";
    }

    39% {
        content: "Des";
    }

    42% {
        content: "De";
    }

    45% {
        content: "D";
    }

    48% {
        content: "";
    }

    51% {
        content: "D";
    }

    54% {
        content: "De";
    }

    57% {
        content: "Dev";
    }

    60% {
        content: "Deve";
    }

    63% {
        content: "Devel";
    }

    66% {
        content: "Develo";
    }

    69% {
        content: "Develop";
    }

    72% {
        content: "Develope";
    }

    75% {
        content: "Developer";
    }

    78% {
        content: "Develope";
    }

    81% {
        content: "Develop";
    }

    84% {
        content: "Develo";
    }

    87% {
        content: "Devel";
    }

    90% {
        content: "Deve";
    }

    93% {
        content: "Dev";
    }

    96% {
        content: "De";
    }

    99% {
        content: "D";
    }

    100% {
        content: "";
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


/* about section */

div.about {
    display: flex;
    width: 67%;
    margin: 100px auto;
}

div.about-img img {
    border-radius: 5px;
}

.about-img {
    position: relative;
}

div.about-img::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 8px solid #555555;
    border-radius: 5px;
}


/* div.about-img::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
} */


.about-img .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.about-img .overlay .overlay-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.about-img .overlay .overlay-icons i {
    font-size: 22px;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.about-img .overlay .overlay-icons i:hover {
    color: #ff305b;
    transform: translateY(-5px);
}




div.about-content {
    margin-left: 70px;
}

.about-content h2{
    font-size: 34px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
}
.about-content h2::before {
    content: "";
    width: 5px;
    height: 23px;
    background-color: #ff305b;
    display: inline-block;
    margin-right: 10px;
}

.about-content p {
    color: #555555;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}


.about-content .ulAbout{
display: flex;
flex-wrap: wrap;
padding: 0;
}
.about-content .ulAbout li{
    width: 35%;
    list-style: none;
    margin-bottom: 15px;
    padding: 0;
}

.about-content .ulAbout li span{
    font-size: 16;
    font-weight: 600;
    color: #333333;
    font-family: "Roboto", sans-serif;
}


.btns button {
    padding: 10px 24px;
    margin-right: 10px;
    font-size: 16;
    font-weight: 400;
    color: #333333;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-color: #ff305b;
    color: white;
}

.btns button i{
    margin-left: 10px;
}

/* our services */

.services{
    width: 100%;
    min-height: 70vh;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.services-content h2 ,.portfolio-content h2{
    font-size: 40px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    padding-top: 100px;
    position: relative;
}

.services-content h2::before ,.portfolio-content h2::before {
    content: "";
    position: absolute;
    top:160px;
    left: 45%;
    width: 160px;
    height:1px;
    background-color: #ff305b;
    margin-right: 10px;
}

.services-content h2::after ,.portfolio-content h2::after {
    content: "";
    padding: 5px;
    position: absolute;
    top:155px;
    left: 47.5%;
    width: 80px;
    height:1px;
    border-block:1px solid #ff305b;
    margin-right: 10px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 80px;
}

.cards .card{
    text-align: center;
    width: 25%;
    background-color: transparent;
    border: none;
    transition: 0.5s ease-in-out;
    padding-block: 40px;

}



.cards .card i{
    font-size: 36px;
    color: #ff305b;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
}

.cards .card h3{
    font-size: 24px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 20px;
}

.cards .card p{
    font-size: 16px;
    font-weight: 400;
    width: 85%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #555555;
    margin-left: 23px;
}

.cards .card:hover {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cards .card:hover i{
    transform: scale(1.2);
}

/* portfolio */

.portfolio{
    width: 100%;
   min-height: 70vh;
    margin-bottom: 100px;
}

.ulPortfolio{
   margin-top: 50px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.ulPortfolio li{
    font-size: 16px;
    font-weight: 400;
    padding:3px 16px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    color: #555555;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.cardsPortfolio{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.cardsPortfolio .cardPortfolio {
    width: 30%;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 0; /* Ensure the card stays above other elements */
    transition: transform 0.5s ease-in-out; /* Optional: add transition for other effects like transform */
}

.cardsPortfolio .cardPortfolio::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; /* Default state: invisible overlay */
    z-index: 1;
    transition: opacity 0.5s ease-in-out; /* Apply the transition for opacity */
}

.cardsPortfolio .cardPortfolio:hover::after {
    opacity: 1; /* Show the overlay on hover */
}

.cardsPortfolio .cardPortfolio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

/* numbers */

.secnum{
    min-height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.numbers{
    width: 64%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    display: flex;
}

.numbers div i{
    color: #ff305b;
    font-size: 24px;
    margin-bottom: 20px;
}

.numbers div h3{
    font-size: 24px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 10px;
}

.numbers div p{
    font-size: 16px;
    font-weight: 600;
    font-family: "source sans pro", sans-serif;
    color: #555555;
}
/* numbers */





/* footer */
.footer{
    width: 100%;
    height: 23vh;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icons{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-icons i{
    margin: 0 8px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.footer-icons i:hover{
    color: #ff305b;
}

.footer p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: white;
}

.footer p span a{
    color: #ff305b;
    cursor: pointer;
    text-decoration: none;
}